body { 
	background-color: black;
}
.block {
}
.q {
	background-color: red;
	border-radius: 50%;
	margin: auto;
	text-align: center;
	font-size: 150px;
	color: yellow;
	width: 500px;
	height: 500px;
}
.t {
	background-color: yellow;
	color: black;
	border-radius: 50%;
	text-align: center;
	text-shadow: 10px;
	padding: 20px;
	font-size: 100px;
}

.input_block {
	padding: 20px;
	margin: 0 auto;
    display: block;
	font-size: 50px;	
}

.go_button {
	margin: 0 auto;
    display: block;
	padding: 20px;
	font-size: 25px;
}

.elements {
	border-radius: 20%;
	text-align: center;
	font-size: 50px;
	background-color: orange;
	padding: 20px;
    margin: 0 auto;
    display: block;
	color: black;
	height: 50px;
}

.random {
	background-color: yellow;
	color: black;
	border-radius: 50%;
	text-align: center;
	text-shadow: 10px;
	padding: 20px;	
}

.c {
	background-color: yellow;
	color: black;
	border-radius: 50%;
	text-align: center;
	text-shadow: 10px;
	padding: 20px;
	font-size: 50px;
}

.h1 {
	background-color: yellow;
	color: black;
	border-radius: 50%;
	text-align: center;
	text-shadow: 10px;
	padding: 20px;
	font-size: 50px;	
}
.h2 {
	background-color: yellow;
	color: black;
	border-radius: 50%;
	text-align: center;
	text-shadow: 10px;
	padding: 20px;
	font-size: 50px;	
}